//
// Flex
//
%flex {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}


.btn-abt {
  flex: 0 1 12rem;
  margin: 0 .5rem .5rem;
}

.flex-float {
  @extend %flex;
  justify-content: space-around;
}

.flex-start {
  @extend %flex;
  justify-content: flex-start;
}

.flex-split {
  @extend %flex;
  justify-content: space-between;
}

.flex-center {
  @extend %flex;
  justify-content: center;
}
