doctype
html
  head
    title 404 - MTM
    link(rel='stylesheet', href='/styles/metoo.css')
  body
    header.container
      img(src='/img/mtmlogo.png', alt='MTM Logo')
    div.container.center
      h1 404
      p not found
    footer.container &copy; #{copy} 
      a(href='http://www.metoomonologuesduke.org/') Me Too

